.header {
  position: fixed !important;
  top: 0;
  z-index: 99;
  width: 100%;
  background: #ffffff;
}
.header__navigation-menu {
  width: auto !important;
}
.header__container {
  margin-top: 20px !important;
}
@media screen and (max-width: 992px) {
  .header__container {
    padding-bottom: 0 !important;
  }
}
.header__content {
  margin-bottom: 50px;
  flex-wrap: wrap;
  align-items: center !important;
}
@media screen and (max-width: 992px) {
  .header__content {
    /*    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid; */
    display: grid;
    grid-template-areas: "logo car car" "nav nav nav ";
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 992px) {
  .header__logo {
    width: 40% !important;
    order: -2 !important;
    margin: 0 !important;
    grid-area: logo;
  }
}
@media screen and (max-width: 992px) and (max-width: 539px) {
  .header__navigation-menu {
    display: grid !important;
    grid-template-columns: repeat(4, auto);
  }
  .header__navigation-menu li a {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 992px) {
  .header__top-meun {
    order: -1;
    width: 40%;
    position: initial !important;
  }
}
.header__top-menu {
  padding-top: 0px;
  position: initial !important;
  right: 5vw;
  top: 0px;
  align-items: center;
  position: initial;
  width: 100%;
  order: -1;
  margin-bottom: 15px !important;
}
@media screen and (max-width: 992px) {
  .header__top-menu {
    grid-area: car;
    margin: 0 !important;
  }
}
.header__top-menu ul {
  margin: 0 !important;
  display: flex;
  flex-wrap: nowrap;
}

@media only screen and (min-width: 992px) {
  header.header div.header__container {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1439px) {
  header.header div.header__container {
    margin-bottom: 30px;
  }

  header.header .header__navigation-menu {
    grid-column-gap: 30px;
  }
}
@media screen and (max-width: 992px) {
  .header .header__navigation-menu {
    order: 10 !important;
    width: 100% !important;
    display: grid !important;
    margin: 0;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
    margin-top: 30px !important;
    grid-column-gap: 20px !important;
    justify-content: space-between !important;
    padding-right: 10px !important;
    grid-area: nav;
  }
}

.main-banners {
  margin-top: 88px !important;
}

.B8T-Collection,
.B8T-NewsHub,
.B8T-InstitutionalHistory,
.B8T-Account {
  margin-top: 120px;
}

.header {
  transition: box-shadow 0.3s ease;
}

.ativo__scroll .header {
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.1);
}

header.header {
  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.ativo__scroll.desceu header.header {
  transform: translateY(-105%);
}

.subiu header.header {
  transform: translateY(0);
}

.B8T-Home .page .main-banners--mobile {
  height: calc(100vh - 137px) !important;
  margin-top: 137px !important;
}

.B8T-Home .page .main-banners {
  height: calc(100vh - 153px) !important;
  margin-top: 153px !important;
}

.page {
  margin-top: 200px;
}

.B8T-Home .page {
  margin-top: 0px !important;
}

header.header .header__navigation-menu li.dropdown-menu .item__dropdown .dropdown-items {
  grid-template-columns: repeat(4, 1fr) !important;
}
@media screen and (max-width: 992px) {
  header.header .header__navigation-menu li.dropdown-menu .item__dropdown .dropdown-items {
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr)) !important;
  }
}

.B8T-Home .page .main-banners .box-banner a:hover:after {
  display: block !important;
  visibility: initial !important;
}

@media screen and (max-width: 992px) {
  .B8T-Home .page .main-banners .box-banner a:after {
    display: block !important;
    visibility: initial !important;
    content: attr(alt);
    opacity: 1 !important;
    display: block !important;
    opacity: 1 !important;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: absolute;
    bottom: 10px;
    width: 300px;
    left: initial;
    z-index: 2;
    color: white;
    margin-left: 10px;
  }
}
@media screen and (max-width: 992px) {
  header.header div.header__container {
    padding-bottom: 20px !important;
  }
}
/* 

@media only screen and (min-width: 992px) {
    .B8T-Home .page .main-banners .box-banner a::after {
        content: attr(data-alt-name);
        opacity: 0;
        visibility: hidden;
        transition: 0.1s ease-in;
        position: absolute;
        left: 20px;
        bottom: 30px;
        color: white;
        font-size: 24px;
        line-height: 32px;
        max-width: 122px;
    }
}

.B8T-Home .page .main-banners .box-banner a::after {
    opacity: 0;
    visibility: hidden;
    transition: 0.1s ease-in;
    position: absolute;
    left: 20px;
    bottom: 30px;
    color: white;
    font-size: 24px;
    line-height: 32px;
    max-width: 122px;
}
 */
.B8T-Home .page .main-banners .box-banner a {
  height: calc(100vh - 153px);
}

@media only screen and (max-width: 359px) {
  header.header .header__navigation-menu {
    grid-auto-flow: column;
  }
}
.B8T-Home .page .main-banners .slick-dots {
  margin-top: -15px !important;
  padding: 0 !important;
  z-index: 10 !important;
  position: relative !important;
  display: none !important;
}

.slick-next,
.slick-prev {
  position: absolute;
  bottom: 0;
  margin: auto 0;
  top: 0;
  height: 50px;
  width: 50px;
  background: transparent;
  border: initial;
  z-index: 10;
  cursor: pointer;
}

.slick-prev {
  left: 5px;
}

.slick-next {
  right: 5px;
}/*# sourceMappingURL=style.css.map */